body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto',sans-serif;
}


.header{
    background-color: #1F2937;
    margin: 0px;
    padding: 40px;
    padding-top: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 180px;
    padding-right: 180px;
}


.header-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;
    margin-top: 50px;

}

.left-header{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-basis: 350px;
}



img{
    margin: 0;
    padding: 0;
    border: 0;
}

.image img{
    margin: 0;
    padding: 0;
    border: 0;
    width: 600px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style:none;
    gap: 16px;
}

a,.content{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.text-head{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.text,.signup,.header-link{
    font-size: 18px;
    color:#E5E7EB;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    width: max-content;
    padding: 8px;
}



.cards{
    display: flex;
    flex: 1;
    background-color: white;
    flex-direction: column;
}

.cards-title{
    align-self: center;
    justify-self: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom:50px ;
    margin-top:25px ;
}

.card-sec{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    gap: 15px;
    margin-left: 300px ;
    margin-right: 300px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 18px;

}

.card-sec img{
    border-radius:8px;
    width:150px;
    margin: 0;
    padding: 0;
}

.card{
    max-height:300px;
}



.quote-sec{
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 100px;
    gap: 10px;
}
.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin: 0 200px;

}

.citation{
    display: flex;
    align-self: end;
    font-size: 24px;
    font-weight: 800;
    margin-right: 160px;
}


.CTA-sec{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.CTA{
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 30px 50px  ;
    gap:100px;
    align-items: center;
}

.CTA button{
    border: 2px solid #E5E7EB;
}

.CTA .heading{
    font-size:24px ;
    font-weight: 600;
}

.footer{
    display: flex;
    background-color: hsl(215, 28%, 17%);
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}